/** Scholarly Work Sidebar **/
.block-scholarly-work-sidebar ol {
  padding: 0;
  list-style-type: none;
}
.block-scholarly-work-sidebar li {
  border: solid 1px grey;
  padding: 0.25em;
}
.block-scholarly-work-sidebar div.field {
  margin: auto;
}
